@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@500&display=swap');

/*preloader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #222;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/*map containers styling*/

.navh {
    z-index: 50;
}


#mapid {
    z-index: 20;
    height: 100vh;
    background-image: url("../images/mapBack.jpg");
    background-color: lightblue;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}


 .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: 'Arimo', sans-serif;
    font-size: 1.3vw;
  }
  
.modal-body {
    height: 40vh;
}

.modal-content {

    position: fixed;
    top: auto;
    left: auto;
    right: auto;
    bottom: 0;

  }

  #waether .modal-content {
    background-color: green;
  }

  #countryData .modal-content {
    background-image: url("../images/countryBack.jpg");
    background-color: lightgray;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    /*background: lightgray url("../images/countryBack.jpg") no-repeat fixed center;
    background-size: cover;*/
}


  /*sm*/
  @media only screen and (max-width:767px) {

    /*navbar*/
    .b-w {
        width: 100%;
        margin: 5px;
    }

    /*country modal*/
    #flag {
        width: 80%;
        height: 60%;
      }
    .modal-dialog {
        font-size: 3vw;
      }
    
    /*weather modal*/
  }

   /*md*/
  @media only screen and (min-width:768px) and (max-width:991px) {

     /*navbar*/
    .b-w {
        width: 25vw;
    }

    /*country modal*/
    #flag {
        width: 80%;
        height: 65%;
      }
    
    .modal-dialog {
        font-size: 2.3vw;
      }
    
    /*weather modal*/
  }

   /*lg*/
  @media only screen and (min-width:992px) {

    /*navbar*/
    .b-w {
        width: 25vw;
    }

    /*country modal*/
    #flag {
        width: 85%;
        height: 75%;
      }
    .modal-dialog {
        font-size: 1.1vw;
     }

    #countryDisplay{
        border: 5px solid lightblue;
        border-radius: 20px;

        background-image: url("../images/countryDisplay.jpg");
        background-color: lightgray;
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;

    }

    #countryDisplay p{
        border: 5px solid lightblue;
        border-radius: 20px;
    }

    #flag + p {
        border: 5px solid red;
        border-radius: 20px;
    }

    /*weather modal*/
  
  }

  



       